.column{
  column-count: 4;
  column-width: 250px;
  column-rule: 3px solid;

}
#pc{
  height: 150px;
  border-radius: 270%;
  width: 150px;
  margin-left: 6px;
  display: inline;
}
div{
  width: 155px;
  display: inline-block;
 
}