*{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: beige; 

}

.page{
     height: 842px;
    width: 595px;
    background-color: aliceblue; 
  }
